$showHideSection1: #{SASSshowHideSection1};
$btnBackgroundDefault: #{SASSbtnBackgroundDefault};
$btnColorDefault: #{SASSbtnColorDefault};
$btnBorderRadiusDefault: #{SASSbtnBorderRadiusDefault};

@import '../build.scss';