// css with marketo variables

@mixin mktoButton($color, $background-color, $border-radius) {
  color: $color;
  background-color: $background-color;
  border-radius: $border-radius;
  &:hover {
    box-shadow: 0 0 0 0.2rem unquote($background-color + '44');
    color: $color;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem unquote($background-color + '44');
  }
}

.btn-mkto {
  @include mktoButton(
    $btnColorDefault,
    $btnBackgroundDefault,
    $btnBorderRadiusDefault
  );
}

@import './generated/showHide.scss';
