@import './mktoVariables.scss';

@mixin mktoButton($color, $backgroundColor) {
  color: $color;
  background-color: $backgroundColor;
  &:hover {
    background-color: darken($backgroundColor, 10%);
    color: $color;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($backgroundColor, 0.25);
  }
}

.btn-mkto {
  @include mktoButton($btnColorDefault, $btnBackgroundDefault);
}
